[flake8]
ignore = E203, E501, W503,  # handled by black
         ANN101, ANN204, ANN401,
exclude =
    *_venv
    venv_*
max-cognitive-complexity = 5
per-file-ignores =
    test/*: D10,D101,D103,S101, ANN
    ./declared_env/__init__.py: F401
    ./declared_env/_exceptions.py: D107
doctests = True
